{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
    #id_tags{
        max-height:100px;
        ooverflow-y:scroll;
        border:1px solid #888;
        padding:5px;
        border-radius:5px;
    }
</style>

<div class="main-container">
    <h1>Posts</h1>
    <form method="GET">
        {{ myFilter.form|crispy }}
        <input class="btn btn-primary" type="submit" value="Search ..">
    </form>
    <div class="post-wrapper">
        {% for post in posts %}
            <div class="post">
<!--                <img class="thumbnail" src="{% static 'images/ahmed-gaber.jpg' %}" alt="">-->
                <img class="thumbnail" src="{{ post.thumbnail.url }}" alt="">
                <div class="post-preview">
                    <h6 class="post-title">{{post.headline}}</h6>
                    <p class="post-intro">
                        {{ post.sub_headline }}
                    </p>
                    <a href="{% url 'post' post.id %}">Read More</a>
                    {% if request.user.is_authenticated %}
                        |<a href="{% url 'update_post' post.id %}"> Edit</a>
                        |<a href="{% url 'delete_post' post.id %}"> Delete</a>
                    {% endif %}
                    <hr>
                    {% for tag in post.tags.all %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <h3>No posts found...</h3>
        {% endfor %}

    </div>

</div>
{% endblock %}