{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="main-container">
        <h1>Post title</h1>
        <img src="{% static 'images/ahmed-gaber.jpg' %}">
        <p>
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem
        </p>
    </div>
{% endblock %}